<div class="container mt-2">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6 text-center mb-4">
        <div class="mb-4">
            <h1 class="display-2">Live Weather</h1>
        </div>
        <form (submit)="searchLocation(cityName)">
            <div class="input-group mb-3">
                <input type="text" class="form-control" #cityName  name="search" autofocus placeholder="City, Region, Country, IP address, US zip, UK postcode" required>
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>  
    </div>
    <div class="row">
      <div class="col-4">
        <app-current-conditions [currentW]="currentWeather" [locationW]="currentLocationWeather" [city]="city"></app-current-conditions>
      </div>
      <div class="col-8">
        <app-forecast-weather [forecastW]="forecastWeather"></app-forecast-weather>
      </div>
    </div>  
  </div>
  <footer class="text-center mt-4 mb-4">
    Powered by <a href="https://www.weatherapi.com/" target="_blank" title="Free Weather API">WeatherAPI.com</a>
    <a href="https://www.weatherapi.com/" title="Free Weather API" target="_blank"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>
    <p>By <strong><mark>Ivan Herrera</mark></strong> - <strong><mark>Jesus Alvarez</mark></strong></p>
  </footer>
</div>
  
<router-outlet></router-outlet>
